.header__lang-link {
  font-family: "Inter", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  transition: opacity 0.3s linear;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
