.cover__description {
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.cover__subtitle:last-of-type {
  display: none;
}

@media screen and (max-width: 1184px) {
  .cover__subtitle:first-of-type {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288;
    font-size: 14px;
    line-height: 16px;
  }
}
