.lead__title {
  font-family: "Inter", "Helvetica", sans-serif;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: calc(40px + (100vw - 320px) / (768 - 320) * (96 - 40));
  }
}
